window {
    font-family: Fira Code, monospace;
    font-size: 12pt;
    color: #f4dfcd; 
    background-color: rgba(30, 30, 46, .89);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    font-size: 60px;
    font-weight: 900;
    padding-bottom: 500px;
    background-size: 50%;
    /* Change these lines */
    border: none;
    box-shadow: none;
    outline-style: none;
    color: #C59FF6;
    text-shadow: none;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(1, 121, 111, 0);
    margin: 1px;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(203, 166, 247, 0.3);
}

#lock {
    background-image: image(url("/home/janahmed/.config/wlogout/icons/lock.svg"));
    background-size: 50%;
}

#suspend {
    background-image: image(url("/home/janahmed/.config/wlogout/icons/suspend.svg"));
    background-size: 50%;
} 

#shutdown {
    background-image: image(url("/home/janahmed/.config/wlogout/icons/shutdown.svg"));
    background-size: 50%;
}

#reboot {
    background-image: image(url("/home/janahmed/.config/wlogout/icons/reboot.svg"));
    background-size: 50%;
}